/*VARIABLES*/

$color-principal: rgb(252, 216, 212);
$color-secundario:rgb(253, 246, 240);
$color-terciario: rgb(248, 226, 207);
$color-cuarto: rgb(245, 198, 170);
$color-h1: rgb(189, 75, 75);
$color-p: rgb(94, 69, 75);

/* MAPAS  */

$coloresMaps:(
    /*key:value*/
    color-cuarto: rgb(245, 198, 170),
    color-principal: rgb(252, 216, 212),
    color-x: rgb(210, 78, 78),
);