@media (max-width: 480px){
    body{
        .encabezadoGeneral{
            width: 100%;
            &__sectionTres{
                width: 100%;
                padding: 1% 0;
                &__tituloPrincipal{
                    font-size: 22px;
                }
            }
            &__contenedorListaMenu{
                padding:7px;
                &__listaMenu{
                    font-size: 15px;
                }
            }
        }
        .mainGeneral{
            width: 100%;
            &__mainInicio{
                h2{
                    text-align: center;
                    font-size: 19px;
                }
                &__fotoInicio1{
                    img{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
            &__contenedorConjunto{
                display: grid;
                grid-template-areas:
                "conjunto1 conjunto2"
                "conjunto3 conjunto4"
                "conjunto5 conjunto6"
                "conjunto7 conjunto8"
                "conjunto9 .";
                grid-template-rows: repeat(5, 1fr) ;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                margin: 0 auto;
                padding-top:11px ;
                padding-bottom: 11px ;
                &__conjunto{
                    img{
                        width: 150px;
                        height: 100px;        
                    }
                    h2{
                        font-size: 12px;
                    }
                    h3{
                        font-size: 12px;
                    }
                }
                &__button{
                    padding: 5px 10px;
                    margin-bottom: 0;
                    font-size: 10px;
                }
            }
            .h2Producto{
                text-align: center;
                font-size: 10px;
            }
            .imagenLinkInicio{
                margin-top: 75px;
                height: 133.33px;
            }
            .imagenLinkInicio1{
                margin-top: 35px;
                height: 133.33px;
            }
            .destacados{
                height: 700px;
            }
            &__partePrincipalParrafoPoliticas{
                padding-top: 35px;
                font-size: 15px;
            }
        }
        .footerGeneral{
            width: 100%;
            height: 375px;
            display: block;
            justify-content: space-between;
            list-style: none;
            font-size: 10px;
            padding-left: 10px;
            h5{
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
            .footerDerechosAutor{
                margin-bottom: 0 !important;
            }
            .bloqueFormularioFooter{
                display: block !important;
                
            }
            .botonSubscribirseFooter{
                margin-top: 5px;
            }
            .parrafoMapaDeSitio{
                width: 52px;
                height: 68px;
                color: #f5c6aa;
            }
            .botonFooterContacto{
                display: none;
            }
            .linkMapaDeSitio{
                font-size: 15px;
                &__1{
                    display: none;
                }
            }
            
        }
        
    }
}